input{
  width: 150px;
  padding: 10px;
  font-size: 1em;
}
input:focus{
  background-color: green;
}
p {
  display: none;
  background-color: yellow;
  padding: 20px;
}
div:hover p{
  display: block;
}
::selection{
  color: red;
  background-color: black;
}